:root {
  --bg-color: #eee;
  --hl-color: #1f424c;
  --color: #444;
  --blue-color: #458588;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;

  /* 0 margin avoids the scrollbar since the height is 100%
   * (default is more than 0, + 100% "overflows")
   */
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  color: var(--color);
  /* max-width: 700px; */
  /* margin: 40px auto; */
}

h1 {
  color: var(--hl-color);
  font-family: monospace;
}

p {
  line-height: 1.6
}

footer {
  position: absolute;
  bottom: 0;
}

a {
  color: var(--hl-color);
}

.shell-prompt {
  color: var(--blue-color);
}

/* TODO: really invert */
.inverted-color {
  color: var(--text-color);
  background-color: var(--hl-color);
}

.blink {
  animation: blinkAnimation step-end 2s infinite forwards;

  /* The previous property is a shorthand for:
   *
   * animation-name: blinkAnimation;
   * animation-timing-function: step-end;
   * animation-duration: 2s;
   * animation-iteration-count: infinite;
   * animation-fill-mode: forwards;
   */
}

@keyframes blinkAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    display: none;
  }
}

#footer-address {
  display: inline;
}

ul#links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

ul#links li img {
  height: 50px;
  width: 50px;
}
